h1,
p {
  font-family: Lato;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.details-box {
  border: 4px solid #005c5c;
  margin: 1rem;
  background-color: #0c2c56;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  align-items: center;
  margin-bottom: 0.2rem;
}

.plan-title {
  font-weight: 600;
  color: #fff;
  margin-left: 0.3rem;
}

.plan-format {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  color: #fff;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
}

.green-text {
  color: #69be28;
}

.close-button {
  background-color: #ab0520;
  font-weight: 800;
  color: white;
  max-width: 5rem;
}

input {
  max-width: 10rem;
}

.toggle-btn {
  background-color: #b2b7bb;
  margin: 1px;
  border: 2px solid #0c2c56;
}

.toggle-btn-active {
  background-color: #7ac142;
  margin: 1px;
  border: 2px solid #0c2c56;
}

th,
td {
  border: 2px solid #005c5c;
  text-align: left;
  background-color: #fff;
}
